.chats-container {
  display: flex;
  background-color: #121212;
  color: #fff;
  height: calc(100vh - 44px);
}

.sidebar {
  width: 30%;
  height: 100%;
  background-color: #121212;
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
}

.conversation {
  width: 70%;
  height: 100%;
  flex-grow: 1;
  background-color: #212121;
  display: flex;
  flex-direction: column;
}

.image {
  max-width: calc(50% - 10px);
  max-height: 200px;
  flex: 1 1 auto;
  margin: 5px;
}

.image:hover {
  cursor: pointer;
  border: 2px dotted white;
}

.pdf:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pdf-icon {
  margin-right: 5px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
}

.sent-message {
  background-color: #0084ff; /* Messenger blue */
  color: #fff; /* white text */
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  align-self: flex-end;
  max-width: 60%;
}

.receive-message {
  background-color: #f1f0f0; /* light gray */
  color: #000; /* black text */
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  align-self: flex-end;
  max-width: 60%;
}

.chat-input-container {
  margin-top: auto;
  max-height: 100px;
}
