.chats-container {
  display: flex;
  background-color: #121212;
  color: #fff;
  height: calc(100vh - 44px);
}

.sidebar {
  width: 30%;
  height: 100%;
  background-color: #121212;
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
}

.conversation {
  width: 70%;
  height: 100%;
  flex-grow: 1;
  background-color: #212121;
  display: flex;
  flex-direction: column;
}

.files-container {
  display: flex;
  align-items: center;
}

.image {
  max-width: 50vw;
  max-height: 50vh;
  flex: 1 1 auto;
  margin: 5px;
}

.image:hover {
  cursor: pointer;
  border: 2px dotted white;
}

.pdf {
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.pdf:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pdf-icon {
  margin-right: 5px;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  margin-top: auto;
}

.message {
  border-radius: 15px;
  padding: 0px 10px;
  margin: 1px 5px;
  max-width: 60%;
  word-wrap: break-word;
}

.sent-message {
  background-color: #0084ff; /* User = blue */
  color: #fff; /* white text */
  align-self: flex-end;
}

.receive-message {
  background-color: #f1f0f0; /* Other = light gray */
  color: #000; /* black text */
  align-self: flex-start;
}

.chat-input-container {
  margin-top: auto;
  max-height: 100px;
}

.modal-image {
  /* max-height: 50vh; */
  width: auto;
}
