.homepage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homepage-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  color: #fff;
  margin: 10px;
  font-size: larger;
}

.homepage-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #444; */
}

.homepage-nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.2rem;
}

.homepage-nav a:hover {
  color: #00bcd4;
}

.nav-line {
  width: 25%;
  margin: 20px auto 0px auto;
  border-bottom: 2px solid #fff;
}
.homepage-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #252525; */
  color: #fff;
  padding: 2rem;
}

.homepage-main section {
  width: 80%;
  margin: 0 auto;
}

.homepage-main h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.homepage-main p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.homepage-main ul {
  list-style-type: none;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: left;
}

li::before {
  content: "\2192 "; /* right arrow symbol */
  color: #999; /* arrow color */
  margin-right: 0.5em; /* space between arrow and text */
}

.homepage-main li {
  margin: 10px 0;
}

.homepage-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  background-color: #444;
  color: #fff;
}

.homepage-footer p {
  font-size: 1.2rem;
}
